<nav class="side-nav">
  <a href="" class="intro-x flex items-center pl-5 pt-4">
      <img alt="Rubick Tailwind HTML Admin Template" class="w-6" src="/images/logo.svg">
      <span class="hidden xl:block text-white text-lg ml-3"> Ru<span class="font-medium">bick</span> </span>
  </a>
  <div class="side-nav__devider my-6"></div>
  <ul>
      <li>
          <a href="/" class="side-menu">
              <div class="side-menu__icon"> <i data-feather="inbox"></i> </div>
              <div class="side-menu__title"> Acceuil </div>
          </a>
      </li>
      <li>
          <a href="/nursing/consultations" class="side-menu">
              <div class="side-menu__icon"> <i data-feather="hard-drive"></i> </div>
              <div class="side-menu__title"> Nursing </div>
          </a>
      </li>
      <li>
          <a href="/box/consultations" class="side-menu">
              <div class="side-menu__icon"> <i data-feather="hard-drive"></i> </div>
              <div class="side-menu__title"> Box consultations </div>
          </a>
      </li>
      <li>
          <a href="/laboratory/exams" class="side-menu">
              <div class="side-menu__icon"> <i data-feather="hard-drive"></i> </div>
              <div class="side-menu__title"> Laboratoire </div>
          </a>
      </li>
      <li>
          <a href="/imagery/exams" class="side-menu">
              <div class="side-menu__icon"> <i data-feather="hard-drive"></i> </div>
              <div class="side-menu__title"> Imagerie </div>
          </a>
      </li>
  </ul>
</nav>
